
body {
    padding: 0px;
    margin: 0px;
    
    /* Думал тут, что наследовать из body на весь сайт, а что прописывать везде, чтобы не запутаться. В итоге решил так: */
    
    /* Наследовать (указывать, только если отличается): */
    font-family: "PTSans", Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    
    /* Указывать всегда (эти чаще разные): */
    color: #000000;
    line-height: 21px;
    font-size: 14px;
    
    background-color: #f2f2f2;
}

a {
    text-decoration: none;   
}

/* Есть какой-то способ лучше, чтобы цвет :visited с обычной ссылкой совпадал? Придумал, что цвет можно назначить обертке ссылки, а :visited пусть его наследует. */
a:visited {
    color: inherit;   
}

.visually-hidden {
    display: none;   
}






/* INDEX */

.main-navigation {
    color: #000000;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    
    background-color: #ffffff;
}

.main-navigation-list {
    list-style: none;
}

.main-navigation-list :not(.main-navigation-current) a:hover {
    color: #81b3d2;
}

.main-navigation-list :not(.main-navigation-current) a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation-current a {
    color: #766357; 
}

.welcome {
    background-color: #8ac6eb;
    background-image: url(../img/polygon.svg), url(../img/index-back.jpg);
    background-repeat: no-repeat, no-repeat;
}

.main-intro {
    color: #333333;
    font-size: 14px;
    line-height: 26px;
    
    text-align: center;
    
    background-color: #ffffff;
}

.main-intro b {
    color: #000000;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.hotel-search-intro {
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    
    text-align: center;
    background-color: #ffffff;
}

.hotel-search-intro b {
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.hotel-search-button {
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    
    text-align: center;
    background-color: #ffffff;
}

.hotel-search-button a {
    background-color: #766357;
}

.hotel-search-button a:hover {
    color: #ffffff;
    
    background-color: #604e43;
}

.hotel-search-button a:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.hotel-search-form,
.hotel-search-form input,
.hotel-search-form ::placeholder {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.hotel-search-form {
    background-color: #ffffff;
}

.hotel-search-form input[type="text"] {
    background-color: #f2f2f2;
    border: none;
}

.hotel-search-form input[type="text"]:hover {
    background-color: #ebebeb;
}

.hotel-search-form input[type="text"]:focus {
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
    outline: none;
}

button.calendar {
    border: none;
    background-color: #f2f2f2;
    width: 38px;
    height: 38px;
}

button.calendar svg {
    fill: #cacaca;
}

button.calendar:hover svg {
    fill: #000000;
}

button.calendar:active svg {
    fill: #81b3d2;
}


.people-count :nth-child(n) {
    background-color: #f2f2f2;
    border: none;
}

/* С кнопками +/- оказалось, что это не шрифт, и svg тоже для них нет. Поэтому сделал png. */
button.minus {
    background-image: url(../img/minus-gray.png); 
    background-position: center;
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
}

button.minus:hover {
    background-image: url(../img/minus-black.png);
}

button.minus:active {
    background-image: url(../img/minus-blue.png);
}

button.plus {
    background-image: url(../img/plus-gray.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
}

button.plus:hover {
    background-image: url(../img/plus-black.png);
}

button.plus:active {
    background-image: url(../img/plus-blue.png);
}

.hotel-search-form button[type="submit"] {
    background-color: #81b3d2;
    border: none;
    
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.hotel-search-form button[type="submit"]:hover {
    background-color: #669ec0;
}

.hotel-search-form button[type="submit"]:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

/* По идее сквозь футер должна просвечивать карта, пока непонятно, как это будет реализовано*/
.main-footer {
    background-color: rgba(255, 255, 255, 0.9);   
}

.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.footer-social ul {
    list-style: none;
}

.footer-social a {
    background-color: #81b3d2;
}

.footer-social a:hover {
    background-color: #669ec0;
}

.footer-social a:active {
    background-color: #5496bd;
}

.footer-social a svg {
    fill: #ffffff;
}

.footer-social a:hover svg {
    fill: #ffffff;
}

.footer-social a:active svg {
    fill: #8cb8d1;
}

.footer-copyright-text {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

/* Почему-то не работают цвета и отображается большой размер. Как вообще подключать svg с возможностью изменять цвет, при этом не загромождая html? */
footer-copyright a svg {
    fill: #000000;
}

footer-copyright a:hover svg {
    fill: #81b3d2;
}

footer-copyright a:active svg {
    fill: #cacaca;
}






/* HOTELS */

.catalog {
    background-color: #ffffff;
}

.catalog-list {
    list-style: none;   
}

h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

h3 a:hover {
    color: #81b3d2;
}

h3 a:active {
    color: rgba(0, 0, 0, 0.3);
}

/* Стоит ли фон картинкам задавать на случай, если они не загрузятся? Чтобы вместо картинки был блок такого же размера и в среднем такого же цвета? Или так только для фона делают? */
.catalog-item-image img {
    background-color: rgb(170, 219, 166);
}

.catalog-item-details {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.catalog-item-buttons {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

a.button-more {
    background-color: rgb(134, 181, 210);
}

a.button-more:hover {
    background-color: rgb(107, 160, 192);
}

a.button-more:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(89, 152, 189);
}

a.button-book {
    background-color: #766357;
}

a.button-book:hover {
    background-color: #604e43;
}

a.button-book:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.catalog-item-rating {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    
    background-color: #f2f2f2;
}

/* Делать заданное количество повторений фона получается сложновато, поэтому есть идея повторить по горизонтали, а потом просто контейнеру нужную ширину задать, чтобы определенное количество звезд влезало.
UPD: не катит. При повторении не хватает пространства между звёздами. Делать несколькими фонами? */
.catalog-item-stars {
    background: url(../img/star.svg) repeat-x;
}



