/* Дяденька, проверяйте строго. */

body {
    padding: 0px;
    margin: 0px;
    padding-left: 40px;
    padding-right: 40px;
    min-width: 1200px;

    
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    
    color: #000000;
    line-height: 26px;
    font-size: 14px;
    font-weight: normal;
    
    background-color: #f2f2f2;
}

a,
a:visited {
    text-decoration: none; 
    color: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

*:focus {
    outline: 2px dotted orange;
}

.main-navigation {
    font-weight: bold;
}

.main-navigation-list {
    list-style: none;
}

.main-navigation-list a:hover {
    color: #81b3d2;
}

.main-navigation-list a:active,
.main-navigation-list a:focus {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.main-navigation-current a,
.main-navigation-current a:hover,
.main-navigation-current a:active {
    color: #766357; 
    outline: none;
}

.footer-hashtag {
    font-size: 21px;
    font-weight: bold;
}

.footer-social ul {
    list-style: none;
}

a.footer-social-link {
    background-color: #81b3d2;
}

a.footer-social-link:hover {
    background-color: #669ec0;
}

a.footer-social-link:active,
a.footer-social-link:focus {
    background-color: #5496bd;
    outline: none;
}

a.footer-social-link svg {
    fill: #ffffff;
}

a.footer-social-link:hover svg {
    fill: #ffffff;
}

a.footer-social-link:active svg,
a.footer-social-link:focus svg {
    fill: #8cb8d1;
}

a.footer-copyright-logo svg {
    fill: #000000;
}

a.footer-copyright-logo:hover svg {
    fill: #81b3d2;
}

a.footer-copyright-logo:active svg,
a.footer-copyright-logo:focus svg {
    fill: #cacaca;
}

a.footer-copyright-logo:focus,
a.footer-copyright-logo:active {
    outline: none;
}

.main-intro {
    color: #333333;
    
    text-align: center;
    
    background-color: #ffffff;
}

/* Реальная высота строки не соответствует данным из макета, поэтому поменял ее, чтобы визуально вписаться в макет */
.main-intro b {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.hotel-search-intro {
    color: #333333;
    line-height: 24px;
    
    text-align: center;
    background-color: #ffffff;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hotel-search-intro b {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

a.hotel-search-button {
    background-color: #766357;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px;
    width: 568px;
    
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    
    text-align: center;
}

a.hotel-search-button:hover {
    color: #ffffff;
    
    background-color: #604e43;
}

a.hotel-search-button:active,
a.hotel-search-button:focus {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    background-color: #503e33;
}

.hotel-search-form,
.hotel-search-form input {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    text-transform: inherit;
    font-family: inherit;
}

.hotel-search-form input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 26px;
    color: #cacaca; 
    font-weight: bold;
    text-transform: inherit;
    font-family: inherit;
}

.hotel-search-form input::-webkit-input-placeholder {
     font-size: 14px;
    line-height: 26px;
    color: #cacaca;
    font-weight: bold;
    text-transform: inherit;
    font-family: inherit;
}

.hotel-search-form input::-ms-input-placeholder {
     font-size: 14px;
    line-height: 26px;
    color: #cacaca;
    font-weight: bold;
    text-transform: inherit;
    font-family: inherit;
}

.hotel-search-form input::placeholder {
     font-size: 14px;
    line-height: 26px;
    color: #cacaca;
    font-weight: bold;
    text-transform: inherit;
    font-family: inherit;
}

.hotel-search-form {
    background-color: #ffffff;
}

.hotel-search-form input[type="text"] {
    background-color: #f2f2f2;
    border: solid 2px transparent;
    border-radius: 0px;
}

.hotel-search-form input[type="text"]:hover {
    background-color: #ebebeb;
}

.hotel-search-form input[type="text"]:focus {
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
    outline: none;
}


button.calendar,
.people-count button {
    border: none;
    width: 38px;
    height: 38px;
    padding: 0px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

button.calendar:focus,
.people-count button:focus {
    outline: none;
    border: 2px dotted orange;
}

.people-count button {
    background-color: #f2f2f2;  
}

button.calendar {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 0px;
}

button.calendar svg {
    fill: #cacaca;
}

button.calendar:hover svg {
    fill: #000000;
}

button.calendar:active svg {
    fill: #81b3d2;
}


.people-count > :nth-child(n) {
    background-color: #f2f2f2;
    border: none;
}

button.adults svg,
button.children svg {
    fill: rgb(171, 171, 171);
}

button.adults:hover svg,
button.children:hover svg {
    fill: rgb(0, 0, 0);
}

button.adults:active svg,
button.children:active svg {
    fill: rgb(134, 181, 210);
}

.hotel-search-form button[type="submit"] {
    background-color: #81b3d2;
    border: none;
    
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    text-transform: inherit;
    font-family: inherit;
}

.hotel-search-form button[type="submit"]:hover {
    background-color: #669ec0;
}

.hotel-search-form button[type="submit"]:active,
.hotel-search-form button[type="submit"]:focus {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.catalog-results {
    background-color: #ffffff;
}

.catalog-list {
    list-style: none;   
}

h3 {
    font-size: 21px;
    font-weight: bold;
}

h3 a:hover {
    color: #81b3d2;
}

h3 a:active,
h3 a:focus {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.catalog-item-category,
.catalog-item-price {
    line-height: 21px;
}

.catalog-item-main .button {
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

a.button-more {
    background-color: rgb(134, 181, 210);
}

a.button-more:hover {
    background-color: rgb(107, 160, 192);
}

a.button-more:active,
a.button-more:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(89, 152, 189);
    outline: none;
}

a.button-book {
    background-color: #766357;
}

a.button-book:hover {
    background-color: #604e43;
}

a.button-book:active,
a.button-book:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
    outline: none;
}

.catalog-item-rating {
    line-height: 21px;
    color: #666666;
    
    background-color: #f2f2f2;
}

.star {
    background: url(../img/star.svg) no-repeat;
    width: 18px;
    height: 17px;
}

body > .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
    
            box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
}

.main-navigation {
    position: relative; 
}

.main-header-logo {
    width: 140px;
    height: 71px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-70px);
        -ms-transform: translateX(-70px);
            transform: translateX(-70px);
}

.main-navigation-list {
    margin: 0px;
    padding: 0px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #ffffff;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.main-navigation-list li {
    margin: 0px;    

    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 240px;
}

.main-navigation-list li:nth-child(4n+3) { 
    margin-left: 240px;
}

.main-navigation-list li:nth-child(4n+1),
.main-navigation-list li:nth-child(4n+2) {
    padding-left: 73px;
    text-align: left;
}

.main-navigation-list li:nth-child(4n+3),
.main-navigation-list li:nth-child(4n) {
    padding-right: 73px;
    text-align: right;
}

.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.welcome {
    background-color: rgb(221, 233, 242);
    background-image: url(../img/polygon.svg), url(../img/index-back.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, 0 -56px;
    background-size: 1200px 57px, auto auto;
    padding-top: 76px; 
    padding-bottom: 71px;
    text-align: center;
}

.main-intro {
    padding-top: 62px;
    padding-bottom: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-intro p {
    margin: 0px;
    margin-bottom: 25px;
    max-width: 800px;
}

.main-intro > :first-child {
    width: 450px;
}

.features {
    background-color: #fff;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
}

.features > :nth-child(n) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.features h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    width: 160px;
    margin: 0px;
    margin-bottom: 24px;
}

.features p {
    line-height: 21px;
    margin: 0px;
    margin-bottom: 20px;
    width: 310px;
}

.feature-regular {
    width: 400px;
    min-height: 256px;
    padding-top: 47px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.feature-regular.blue {
    background-color: #81b3d2;
    color: #fff;
}

.feature-regular.gray p,
.feature-with-icon p {
    color: #333333;
}

.feature-regular.gray {
    background-color: #eeeeee;
}

.feature-with-icon {
    background-color: #fff;
    
    width: 400px;
    min-height: 330px;
}

.feature-with-icon h3 {
    margin-top: 161px;   
    position: relative;
}

.feature-with-icon h3::before {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: -105px;
    left: 50%;
    margin-left: -40px;
}

.feature-with-icon.house h3::before {
    background-image: url(../img/feature-icon-house.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.feature-with-icon.food h3::before {
    background-image: url(../img/feature-icon-food.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.feature-with-icon.gift h3::before {
    background-image: url(../img/feature-icon-gift.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.feature-double-picture {
    background-color: rgb(169, 213, 125);
    
    width: 800px;
    min-height: 256px;
}

.feature-double-picture.one {
    background-image: url(../img/features-back-1.jpg);
    background-repeat: no-repeat;
}

.feature-double-picture.two {
    background-image: url(../img/features-back-2.jpg);
    background-repeat: no-repeat;
}



.hotel-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.hotel-search-intro {
    padding-top: 36px;
}

.hotel-search-intro p {
    max-width: 550px;
    margin-bottom: 10px;
}

.hotel-search-intro > :last-child {
    margin-bottom: 47px;   
}

.hotel-search-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hotel-search-main {
    position: relative;
}

.hotel-search-form {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 568px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 55px;
    padding-top: 40px;
    
    -webkit-box-align: end;
    
        -ms-flex-align: end;
    
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    
    -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
    
            box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
    
    
    position: absolute;
    top: 100%;
}

.hotel-search-form input {
    padding-top: 6px;
    padding-bottom: 6px;
    height: 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


.date-input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width:  346px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 15px;
    position: relative;
}

.date-input input { 
    padding-left: 12px;
    padding-right: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.people-count {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 114px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
    -webkit-box-align: start;   
        -ms-flex-align: start;   
            align-items: flex-start;
    margin-bottom: 15px;
}

.people-count input {
    width: 38px;   
    text-align: center;
}

.hotel-search-form label {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 112px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hotel-search-form > label:nth-of-type(4) {
    margin-left: auto;   
    text-align: right;
    padding-right: 27px;
}


.hotel-search-form button.submit {
    width:  300px;  
    padding: 16px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 38px;
}


.hotel-search-map {
    height: 593px;
    width: 1200px;
    background-image: url(../img/index-map.jpg);
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;   
    -webkit-box-pack: space-evenly;   
        -ms-flex-pack: space-evenly;   
            justify-content: space-evenly;
    min-height: 120px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 1200px;
}

.main-footer.index {
    position: absolute;
    bottom: 0px;   
}

.main-footer > :nth-child(n) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 25px;
    width: 350px;
}

.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;   
    -ms-flex-line-pack: center;   
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.footer-social li {
    margin: 3px;
    padding: 0px;
}

.footer-social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 46px;
    height: 48px;
    margin: 0px;
}

.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}

.footer-copyright > p {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    padding: 0px;
}

.footer-copyright a {
    width: 115px;
    height: 41px;
}

.footer-copyright span {
    margin: 8px;
}

.catalog-filters {
    min-height: 217px;
    width: 1200px;
    background-image: url(../img/hotels-back.jpg);
    background-position: center -56px;
    background-repeat: no-repeat;
    background-color: rgb(110, 110, 110);
}

.catalog-filters-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
    
    line-height: 21px;
    color: #fff;
    
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 27px;
    padding-bottom: 25px;
}

.catalog-filters-form legend {
    font-weight: bold;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    color: inherit;
}

.catalog-filters-form fieldset {
    border: none;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}

fieldset.properties {
    max-width: 250px;
    min-width: 185px;
    margin-right: 70px;
}

.catalog-filters-form ul {
    padding: 0px;
    margin: 0px;
    padding-top: 24px;
    list-style: none;
}

.catalog-filters-form li:not(:last-child) {
    margin-bottom: 16px;  
}

.catalog-filters-form li:first-child {
    padding-top: ;  
}

.property-checkbox:not(:checked) ~ .on {
    display: none;
}

.property-checkbox:checked ~ .off {
    display: none;
}

.property-checkbox:not(:disabled) ~ span svg {
    fill: #fff;
}

.property-checkbox:disabled ~ span svg {
    fill: #6a6a6a;
}

.property-checkbox:focus ~ span.on,
.property-checkbox:focus ~ span.off {
    outline: 2px dotted orange;
}

.properties label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

span.on,
span.off {
 width: 27px;   
}

span.property {
    margin-left: 12px;  
    padding-top: 2px;
    padding-left: 1px;
}


fieldset.price {
    margin-left: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.price legend {
    margin-bottom: 11px;   
}

.price-inputs {
    border: 2px #fff solid;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 35px;
    width: 318px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    position: relative;
}

.price-inputs::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 2px;
    background-color: #fff;
    top: 4px;
    left: 157px;
    
}


.price-inputs input {
    background: transparent;
    border: none;
    font-size: 14px;
    font-family: inherit;
    line-height: 21px;
    text-transform: inherit;
    width: 55px;
    margin-left: 3px;
    
    color: #fff;
}

.price-inputs label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.price-inputs label:first-child {
    margin-right: auto;
    padding-left: 65px;
}


.price-inputs label:last-child {
    padding-right: 27px;
    padding-left: 54px;
}


.price-controls {
    margin-top: 20px;
    margin-bottom: 32px;
    position: relative;
    padding-left: 1px;
}

.scale {
    width: 307px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 10px;
}

.selected-range {
    width: 248px;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
}   

.control {
    position: absolute;   
    width: 40px;
    height: 40px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

.control {
    width: 4px;
    height: 4px;
    border: 8px solid white;
    border-radius: 15px;
    background-color: rgb(172, 172, 172);
    -webkit-box-shadow: 0px 2px rgba(255, 255, 255, 0.2);
            box-shadow: 0px 2px rgba(255, 255, 255, 0.2);
}

.control:hover {
    width: 5px;
    height: 5px;
    border: 9px solid white;
    margin-left: -1px;
    margin-top: -1px;
}


.control-min {
    top: -9px;
    left: 1px;
}

.control-max {
    top: -9px;
    left: 253px;
}

button.price-submit {
    font-size: 14px;
    
    height: 36px;
    
    min-width: 137px;
    
    text-transform: inherit;
    font-family: inherit;
    line-height: 21px;
    color: #fff;
    background-color: transparent;
    border: #fff solid 2px;
    border-radius: 2px;
    
    margin-left: 85px;
    margin-right: auto;
}

button.price-submit:hover,
button.price-submit:focus {
    color: black;
    background-color: white;
    outline: none;
}







.catalog-sort {
    background-color: #fff;
    width: 1200px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 86px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 29px;
    padding-bottom: 15px;
}
                    
.catalog-sort-found {
    font-size: 21px;
    font-weight: bold;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    min-width: 165px;
    max-width: 250px;
}


.catalog-sort-how {
    font-size: 12px;
    line-height: 18px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    
    margin-top: 6px;
    
    max-width: 650px;
}

.catalog-sort-how > span {
    max-width: 210px;   
    margin-right: 40px;
}


.catalog-sort-method {
    list-style: none;
    margin: 0px;
    padding: 0px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.catalog-sort-method li {
    margin-right: 33px; 
    margin-bottom: 10px;
}

.catalog-sort-method a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: dotted #81b3d2 1px;
}

.catalog-sort-method a:hover {
    color: #81b3d2;
    border-bottom: dotted #81b3d2 1px;
}

.catalog-sort-method a:active, 
.catalog-sort-method a:focus {
    color: #000000;
    border-bottom: none;
    outline: none;
}

.catalog-sort-method-current a,
.catalog-sort-method-current a:hover,
.catalog-sort-method-current a:active {
    color: #81b3d2;
    border-bottom: none;
}


.catalog-sort-order {
    max-width: 100px;
    margin-left: auto;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

a.order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    fill: #cacaca;
    
    margin-right: 1px;
    margin-left: 11px;
}

a.order.ascending {
    margin-top: 10px;
}

a.order.descending {
    margin-top: 9px;
}

a.order:hover svg,
a.order:focus svg {
    fill: #000;
}

a.order:active svg,
a.order.current svg,
a.order.current:hover svg,
a.order.current:active svg {
    fill: #81b3d2;
}

a.order:active,
a.order:focus {
    outline: none;   
}






.catalog-results {
    width: 1200px;        
}

.catalog-results ul {
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    margin: 0px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 30px;
    
    border-top: 1px rgb(229, 229, 229) solid;
}

.catalog-item:last-child {
    border-bottom: 1px rgb(229, 229, 229) solid;
}

.catalog-item-image {
    background-color: rgb(170, 219, 166);
    width: 135px;
    max-height: 90px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
    margin-right: 30px;   
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-item-image img {
    display: block;
}

.catalog-item-main {
    margin-right: auto;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 25px;
    
    max-width: 750px; 
}

.catalog-item-main h3 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
    width: 100%; 
}

.catalog-item-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 5px;
}

.catalog-item-details span {
    margin-bottom: 14px; 
}

.catalog-item-details .button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 3px 17px;
    min-width: 110px;
    text-align: center;
}

.catalog-item-value { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 30px;
    margin-left: 50px;
    max-width: 330px;
}

.catalog-item-stars {
    margin: 0px;
    margin-bottom: 20px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    
}

.star:not(:last-child) {
    margin-right: 6px;
}

.catalog-item-rating {
    margin: 0px;
    margin-top: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 13px;
    text-align: center;
    
    -webkit-box-sizing: border-box;
    
            box-sizing: border-box;
    min-width: 110px;
}





.form-closed {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.form-animation-open {
    -webkit-animation-name: form-open;
            animation-name: form-open;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
}
@-webkit-keyframes form-open {
  from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
}
@keyframes form-open {
  from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
}

.form-animation-close {
    -webkit-animation-name: form-close;
            animation-name: form-close;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
}
@-webkit-keyframes form-close {
  from { -webkit-transform: translateY(0px); transform: translateY(0px); }
  100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}
@keyframes form-close {
  from { -webkit-transform: translateY(0px); transform: translateY(0px); }
  100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

.form-animation-error {
    -webkit-animation-name: form-error;
            animation-name: form-error;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
}
@-webkit-keyframes form-error {
    from { -webkit-transform: translateX(20px); transform: translateX(20px); }
    20% { -webkit-transform: translateX(-15px); transform: translateX(-15px); }
    40% { -webkit-transform: translateX(10px); transform: translateX(10px); }
    60% { -webkit-transform: translateX(-5px); transform: translateX(-5px); }
    80% { -webkit-transform: translateX(2px); transform: translateX(2px); }
    100% { -webkit-transform: translateX(0px); transform: translateX(0px); }
}
@keyframes form-error {
    from { -webkit-transform: translateX(20px); transform: translateX(20px); }
    20% { -webkit-transform: translateX(-15px); transform: translateX(-15px); }
    40% { -webkit-transform: translateX(10px); transform: translateX(10px); }
    60% { -webkit-transform: translateX(-5px); transform: translateX(-5px); }
    80% { -webkit-transform: translateX(2px); transform: translateX(2px); }
    100% { -webkit-transform: translateX(0px); transform: translateX(0px); }
}





.features,
.hotel-search-intro {
    position: relative;
    z-index: 5;
}

.hotel-search-wrapper {
    position: relative;
    z-index: 0;
}

.hotel-search-main {
    position: relative;
    z-index: 0;
}
    .hotel-search-button {  
        position: relative;
        z-index: -1;
    }
    .hotel-search-form {
        z-index: -2;
    }