
/* GENERAL */

body {
    padding: 0px;
    margin: 0px;
    
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    
    color: #000000;
    line-height: 26px;
    font-size: 14px;
    font-weight: normal;
    
    background-color: #f2f2f2;
}

a,
a:visited {
    text-decoration: none; 
    color: inherit;   
}

.visually-hidden {
    display: none;   
}






/* HEADER */

.main-navigation {
    font-weight: bold;
}

.main-navigation-list {
    list-style: none;
}

.main-navigation-list :not(.main-navigation-current) a:hover {
    color: #81b3d2;
}

.main-navigation-list :not(.main-navigation-current) a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation-current a {
    color: #766357; 
}






/* FOOTER */

.footer-hashtag {
    font-size: 21px;
    font-weight: bold;
}

.footer-social ul {
    list-style: none;
}

.footer-social a {
    background-color: #81b3d2;
    display: block;
    width: 30px;
    height: 30px;
}

.footer-social a:hover {
    background-color: #669ec0;
}

.footer-social a:active {
    background-color: #5496bd;
}

.footer-social a svg {
    fill: #ffffff;
}

.footer-social a:hover svg {
    fill: #ffffff;
}

.footer-social a:active svg {
    fill: #8cb8d1;
}

.footer-copyright a svg {
    fill: #000000;
}

.footer-copyright a:hover svg {
    fill: #81b3d2;
}

.footer-copyright a:active svg {
    fill: #cacaca;
}






/* INDEX */



.main-intro {
    color: #333333;
    
    text-align: center;
    
    background-color: #ffffff;
}

.main-intro b {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.hotel-search-intro {
    color: #333333;
    line-height: 24px;
    
    text-align: center;
    background-color: #ffffff;
}

.hotel-search-intro b {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.hotel-search-button {
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    
    text-align: center;
    background-color: #ffffff;
}

.hotel-search-button a {
    background-color: #766357;
    display: block;
    padding: 33px;
}

.hotel-search-button a:hover {
    color: #ffffff;
    
    background-color: #604e43;
}

.hotel-search-button a:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.hotel-search-form,
.hotel-search-form input,
.hotel-search-form ::placeholder {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    text-transform: inherit;
    font-family: inherit;
}

.hotel-search-form {
    background-color: #ffffff;
}

.hotel-search-form input[type="text"] {
    background-color: #f2f2f2;
    border: none;
}

.hotel-search-form input[type="text"]:hover {
    background-color: #ebebeb;
}

.hotel-search-form input[type="text"]:focus {
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
    outline: none;
}

button.calendar {
    border: none;
    background-color: #f2f2f2;
    width: 38px;
    height: 38px;
}

button.calendar svg {
    fill: #cacaca;
}

button.calendar:hover svg {
    fill: #000000;
}

button.calendar:active svg {
    fill: #81b3d2;
}


.people-count :nth-child(n) {
    background-color: #f2f2f2;
    border: none;
}

.people-count button {
    height: 38px;
    width: 38px;
}

.people-count button svg {
    fill: rgb(171, 171, 171);
}

.people-count button:hover svg {
    fill: rgb(0, 0, 0);
}

.people-count button:active svg {
    fill: rgb(134, 181, 210);
}

.hotel-search-form button[type="submit"] {
    background-color: #81b3d2;
    border: none;
    
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.hotel-search-form button[type="submit"]:hover {
    background-color: #669ec0;
}

.hotel-search-form button[type="submit"]:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}






/* HOTELS */

.catalog-results {
    background-color: #ffffff;
}

.catalog-list {
    list-style: none;   
}

h3 {
    font-size: 21px;
    font-weight: bold;
}

h3 a:hover {
    color: #81b3d2;
}

h3 a:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-item-image a {
    background-color: rgb(170, 219, 166);
    height: 90px;
    width: 135px;
    display: block;
}

.catalog-item-details {
    line-height: 21px;
}

.catalog-item-buttons {
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

a.button-more {
    background-color: rgb(134, 181, 210);
}

a.button-more:hover {
    background-color: rgb(107, 160, 192);
}

a.button-more:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(89, 152, 189);
}

a.button-book {
    background-color: #766357;
}

a.button-book:hover {
    background-color: #604e43;
}

a.button-book:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.catalog-item-rating {
    line-height: 21px;
    color: #666666;
    
    background-color: #f2f2f2;
}

.star {
    background: url(../img/star.svg) no-repeat;
    width: 18px;
    height: 17px;
    display: inline-block;
    font-size: 0px;
    margin: 1px;
}


/* СЕТКИ - GENERAL */

body {
    padding-left: 40px;
    padding-right: 40px;
}

body > .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}




/* СЕТКИ - HEADER */

.main-header {
}

.main-navigation {
    position: relative; 
}

.main-header-logo {
    width: 140px;
    height: 71px;
    position: absolute;
    left: 50%;
    transform: translateX(-70px);
}

.main-navigation-list {
    margin: 0px;
    padding: 0px;
    
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-around;
}

.main-navigation-list li {
    margin: 0px;    

    padding: 15px;
    box-sizing: border-box;
    width: 240px;
    text-align: center;
}

.main-navigation-list li:nth-child(2) {
    margin-right: auto;
}

.main-navigation-list li:nth-child(1),
.main-navigation-list li:nth-child(2) {
    padding-left: 73px;
    text-align: left;
}

.main-navigation-list li:nth-child(3),
.main-navigation-list li:nth-child(4) {
    padding-right: 73px;
    text-align: right;
}




/* СЕТКИ - INDEX-MAIN */

.main-content {
    display: flex;
    flex-direction: column;
}

.welcome {
    background-color: rgb(221, 233, 242);
    background-image: url(../img/polygon.svg), url(../img/index-back.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, 0 -56px;
    padding-top: 76px; 
    padding-bottom: 71px;
    text-align: center;
}

.main-intro {
    padding-top: 62px;
    padding-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-intro p {
    margin: 0px;
    margin-bottom: 25px;
}

.main-intro > :first-child {
    width: 450px;
}


.features {
}

.hotel-search {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hotel-search-intro {
    padding-top: 57px;
}

.hotel-search-intro :last-child {
    margin-bottom: 52px;   
}

.hotel-search-button {
    align-self: center;
    width: 568px;  
}

.hotel-search-form {
    align-self: center;
    width: 568px;
}
    

/* СЕТКИ - FOOTER */


.main-footer {
    display: flex;
    align-items: center;   
    justify-content: space-evenly;
    min-height: 120px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Внутренние колонки футера. Разобрался, как сделать, не задавая ширину. Есть ли какие-то минусы у такого решения? Может лучше ширину задать колонкам? */
.main-footer > :nth-child(n) {
    flex-basis: 0;
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
}

.footer-social ul {
    display: flex;
    align-items: center;   
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

.footer-social li {
    margin: 0px;
    padding: 0px;
}


.footer-social li:not(:last-child) {
    margin-right: 6px;
}

.footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    margin: 0px;
}

/* не работает почему-то так выравнивание, если спан и ссылку-лого завернуть в <p>. Убрал <p> и сделал флексом. Попадает в макет, но вроде как-то не семантично... Но может и черт с ним?
.footer-copyright p {
    vertical-align: middle;
}
*/

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.footer-copyright a {
    width: 115px;
    height: 41px;
}

.footer-copyright span {
    margin: 8px;
}


/* СЕТКИ - HOTELS-MAIN */

.catalog-results {
    width: 1200px;        
}

.catalog-results ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.catalog-item {
    display: flex;
    align-items: flex-start;
    
    margin: 0px;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    border-top: 1px rgb(229, 229, 229) solid;
}

.catalog-item:last-child {
    border-bottom: 1px rgb(229, 229, 229) solid;
}


.catalog-item-value {
    margin-left: auto;   
}

.catalog-item-image {
    margin-right: 30px;   
}


/* временно */
/*
.catalog-item-main
{outline: 2px dotted red;}
.catalog-item-main h3
{outline: 2px dashed blue;}
*/


.catalog-item-main {
    align-self: stretch;
    
    display: flex;
    flex-direction: column;
}

/* Нормален вариант line-height сделать равной высоте блока в макете? Таким образом легче подобрать вертикальные маргины. И только так получается выровнять верхнюю линию букв залоговка по верхнему краю картинки. */
.catalog-item-main h3 {
    line-height: 16px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 16px;
}

.catalog-item-main p,
.catalog-item-main a,
.catalog-item-value p {
    margin: 0px;   
}

.catalog-item-main p:first-of-type {
    margin-bottom: 19px;
    line-height: 12px;
}

.catalog-item-buttons {
    display: flex;
}

.catalog-item-buttons .button {
    line-height: 11px;
    padding: 8px 17px;
}

.catalog-item-buttons .button:not(:last-child) {
    margin-right: 5px;
}

.catalog-item-details {
    display: flex; 
}


.catalog-item-details span {
    width: 110px;   
}

.catalog-item-details span:not(:last-child) {
    margin-right: 6px;
}

110




